

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Account Activation</title>
    </head>
    <body>
        <div>
            Account Acivation Failed....  
        </div>
    </body>
</html>