@model AMStock.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<div style="margin-top: 40px;">

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }

</div>

